.imagem{
    width: 10%;
    padding-right: 10px;
    margin: 15px;
}

.nav-link{
    color:rgba(0, 0, 0, 0.793);
    font-weight: 500;
    
}

.nav-link:hover{
    text-decoration: underline;
    color:rgb(0, 0, 0);
}

.nav-item{
    padding: 15px;
}