


  <section>
    <h1 class="titulo">Arquivos permitidos prd</h1>
 
    <a class="btn btn-primary mr-1" [routerLink]="['cadastrar']">Cadastrar </a>
 
    <div>
       <table class="table table-responsive">
          <thead>
             <tr id="head">
                <th></th>
                <th>id</th>
                <th>nome</th>
                <th>permitida</th>
             </tr>
 
          </thead>
          <tbody>
             <tr *ngFor="let item of list" (click)="selecionar(item)" [class.selected]="selected == item" >
                <td><input type="checkbox" [checked]="selected == item"></td>
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.permitida}}</td>
                <td class="td-wid">
                   <div class=" d-flex justify-content-center">
                      <!-- <a class="btn btn-primary mr-1" routerLink="parceiros/list/editar/{{item.id}}">Editar</a> -->
                      <a class="btn btn-primary mr-1" [routerLink]="['editar']" >Editar</a>
                      <a class="btn btn-secondary mr-1" [routerLink]="['excluir']">Excluir</a>
                   </div>
                </td>
 
             </tr>
          </tbody>
       </table>
    </div>
 <router-outlet></router-outlet>
    