
  <section>
   <h1 class="titulo">Cadastro de Clientes prd</h1>

   <a class="btn btn-primary mr-1" [routerLink]="['cadastrar']">Cadastrar </a>

   <div>
      <p-table [columns]="cols" [value]="list"  >
         <ng-template pTemplate="header" let-columns >
            <tr>
               <th *ngFor="let col of columns" > 
                  {{col.header}}
               </th>
           
               <th></th>
            </tr>
         </ng-template>
         <ng-template pTemplate="body" let-item let-columns="columns" >
            <tr>
               <td *ngFor="let col of columns">
                  {{item[col.field]}}
               </td>
              
               
               <td>
                  <div class="d-flex justify-content-center">
                     <!-- <a class="btn btn-primary mr-1" routerLink="parceiros/list/editar/{{item.id}}">Editar</a> -->
                     <a class="btn btn-primary mr-1" [routerLink]="['editar', item.id]">Editar</a>
                     <a class="btn btn-secondary mr-1" [routerLink]="['excluir', item.id]">Excluir</a>
                  </div>
               </td>

            </tr>
            
             
          
         </ng-template>
      
      </p-table>
      <p-paginator></p-paginator>
    
   </div>
<router-outlet></router-outlet>
   