

  <section>
    <h1 class="titulo">Redirecionamento automático prd</h1>
 
    <a class="btn btn-primary mr-1" [routerLink]="['cadastrar']">Cadastrar </a>
 
    <div>
       <table class="table table-responsive">
          <thead>
             <tr id="head">
                <th>id</th>
                <th>código do cliente(from)</th>
                <th>código do cliente(to)</th>
                <th>prefixo</th>
                <th>palavra chave 1</th>
                <th>palavra chave 2</th>
                <th>observações</th>
               
             </tr>
 
          </thead>
          <tbody>
             <tr *ngFor="let item of list">
                <td>{{item.id}}</td>
                <td>{{item.codClienteFrom}}</td>
                <td>{{item.codClienteTo}}</td>
                <td>{{item.prefixo}}</td>
                <td>{{item.palavraChave1}}</td>
                <td>{{item.palavraChave2}}</td>
                <td>{{item.observacoes}}</td>
                <td>
                   <div class="d-flex justify-content-center">
                      <!-- <a class="btn btn-primary mr-1" routerLink="parceiros/list/editar/{{item.id}}">Editar</a> -->
                      <a class="btn btn-primary mr-1" >Editar</a>
                      <a class="btn btn-secondary mr-1" [routerLink]="['excluir']">Excluir</a>
                   </div>
                </td>
 
             </tr>
          </tbody>
       </table>
    </div>
 <router-outlet></router-outlet>
    