

  <section>
    <h1 class="titulo">Monitor de tranferência prd</h1>
 
    <a class="btn btn-primary mr-1" [routerLink]="['cadastrar']">Cadastrar </a>
 
    <div>
       <table class="table table-responsive">
          <thead>
             <tr id="head">
                <th>id</th>
                <th>transferência de status</th>
                <th>tipo de transferência</th>
                <th>data e hora inicial</th>
                <th>data e hora final</th>
                <th>bucket de origem</th>
                <th>bucket de destino</th>
                <th>nome do arquivo</th>
                <th>observações</th>
             </tr>
 
          </thead>
          <tbody>
             <tr *ngFor="let item of list" >
           
                <td>{{item.id}}</td>
                <td>{{item.transStatus}}</td>
                <td>{{item.tipoTransferencia}}</td>
                <td>{{item.dataHoraInicial}}</td>
                <td>{{item.dataHoraFinal}}</td>
                <td>{{item.bucketOrigem}}</td>
                <td>{{item.bucketDestino}}</td>
                <td>{{item.nomeArquivo}}</td>
                <td>{{item.observacoes}}</td>
        
 
             </tr>
          </tbody>
       </table>
    </div>
 <router-outlet></router-outlet>
    