<div class="modal" [class.show]="modalOpen" [class.fade]="!modalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transferências</h5>
        
        <span class="btn" (click)="voltar()">
          <fa-icon [icon]="['fas', 'x']" class="icone"></fa-icon>
        </span>
      </div>
      <div class="modal-body">
        <form action="" class="container">
          <div class="row">
            <div class="form-group col-6">
              <label for="" class="form-label">Transferência de status</label>
              <select class="form-select" name="" id="">
                <option value="{{undefined}}">Selecione</option>
                <option value="">ativa</option>
                <option value="">passiva</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="" class="form-label">Tipo de transferência</label>
              <select class="form-select" name="" id="">
                <option value="{{undefined}}">Selecione</option>
                <option value="">direta</option>
                <option value="">indireta</option>
              </select>
            </div>



          </div>
          <div class="row">
          <div class="form-group col-6">
            <h1>Inf. iniciais</h1>
            <label for="" class="form-label">Data</label>
            <input type="text" class="form-control">
            <label for="" class="form-label">Hora</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-6 " >
            <h1>Inf. Finais</h1>
            <label for="" class="form-label">Data</label>
            <input type="text" class="form-control">
            <label for="" class="form-label">Hora</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row my-3">
        <div class="form-group col-6">
          <label for="" class="form-label">Bucket de origem</label>
          <input type="text" class="form-control">
        </div>

         <div class="form-group col-6">
          <label for="" class="form-label">Bucket de origem</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="form-label">Nome do arquivo</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group my-3 col-sm-12">
        <label for="" class="form-label">Observações</label><br>
        <textarea name="" id="" cols="120" rows="8"></textarea>
      </div>
        </form>
      </div>
      <div class="modal-footer">
  
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>